*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    
    font-family: 'Roboto', Times, serif, sans-serif;
};

.space-top{
    margin-top: 80px;
}
.grỉd{
    width: 100%;
    display: block;
    padding: 0;
};

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
};

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px
};

.col {
    padding-left: 8px;
    padding-right: 8px;
  
}

.c-2{
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
}
.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.c-10{
    flex: 0 0 83.3333%;
    max-width: 83.333%;
}
.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
// tablet
@media (min-width: 740) {
    .row {
        margin-left: -8px;
        margin-right: -8px
    };

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }
};

// tablet and low resolution
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    };
    .site-header{
        display: block;
        margin-left: auto;
        margin-right: auto;
        .header-top-right{
            justify-content: center;
        }

        .main-navigation{
            .main-nav-icon{
                display: block;
                padding: 8px;
                margin-bottom: 8px;
                >i{
                    font-size: 1.6em;
                }
            }
            
            .menu-header-container{
                .nav-menu{
                    border-radius: 2px;
                    display: block;
                    flex-direction: column;
                    align-items: flex-start;
                    max-width: 300px;
                    background-color: #ccc;
                    .menu-item{
                        border-bottom: 1px solid $boder-color;
                        flex: 1;
                        display: flex;
                        >a{ 
                        }

                    }
                }
    
            }

        }
    }
    .m-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .service-item{
        margin: 10px 0;
    }
    
}

//Pc and low solution
@media (min-width: 1024px) and (max-width: 1239) {
    .wide {
        width: 984px;
    };
};

@media (min-width: 1240) and (max-width: 1490px) {
    .wide {
        width: 1200 px;
    };
};

//mixin
