.site-main {

    .slider {
        background-color: #ccc;
        padding: 8px;
        background-clip: content-box;
    }

    .site-main_service{
        .site-main_service-item{
            background-color: beige;
            text-align: center;
            font-size: 1.3em;
            font-weight: 400;
            background-color: $second-backgroundcolor;
            >br {
                padding-top: 5px;
            }
        }
    }
}