img{
    width: 100%;
    height: 100%;
}
.container {
    max-width: 1900px;

    .row-container {
        display: block;
    }
}

.site-main {
    .slider {
        padding: 8px 0;
        background-clip: content-box;
    }

    .site-main_service {
        .service-item {
            font-size: 1.3em;
            line-height: 20px;
            background-color: #f5f5f5;
            border-radius: 2px;
            min-height: 85px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-clip: content-box; // css cho khoảng nên của element

            >i {
                flex-basis: 25%;
                text-align: center;
                font-size: 3em;
                align-self: 25%;
                padding: 0 10px;
            }

            .service-item_content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;

                .service-item_title {
                    font-weight: 600;
                    font-size: 1.2em;
                }

                .service-item_sub-title {
                    text-align: center;
                    font-size: 1em;
                    color: $text-color;
                    padding: 0 10px;
                }
            }
            .service-item_title:hover {
                @include textHover($black-color)
            }
        }
        .service-item {
            >i:hover {
                @include textHover($black-color)
            }
        }
        >br {
            padding-top: 5px;
        }
    }
}


.products {
    .products_wrapper {
        margin: 20px 0;
        flex-wrap: nowrap;

        .product_item {
            position: relative;

            .product_item-img {
                height: 400px;
                border: 1px solid $boder-color;
                min-height: 200px;
                border-radius: 2px;
                border: 1px solid $boder-color;
                >img{
                    object-fit: contain;
                }

                @include responsive(phone) {
                    height: 200px;
                }
            }

            .product_item-discount {
                .product_item-discount-text {
                    color: $white-color;
                    padding-left: 15px;
                }
                $left: 4px;
                $height: 26px;
                position: absolute;
                color: $red-color;
                background-color: currentColor;
                min-height: $height;
                min-width: 30px;
                display: block;
                top: 0;
                left: $left;
                text-align: center;
                line-height: $height;
                font-size: 1.5em;
                font-weight: 600;
            }

            .product_item-discount::after {
                position: absolute;
                content: "";
                border-style: solid;
                border-width: 13px;
                bottom: 0%;
                left: calc(100%);
                border-color: transparent transparent currentColor currentColor;
            }

            .product_item-discount::before {
                position: absolute;
                content: "";
                border-style: solid;
                border-width: 13px;
                bottom: 0%;
                left: calc(100%);
                border-color: currentColor transparent transparent currentColor;
            }

            .product_item-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;

                .product_item-wrapper-title {
                    padding: 10px 0;
                    >a {
                        font-size: 2em;
                        text-decoration: none;
                        color: $black-color;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }


                .product_item-wrapper-title:hover {
                    >a {
                        @include textHover($black-color)
                    }
                }


                .product_item-wrapper-price {
                    padding: 10px 0;
                    font-size: 1.6em;
                }

                .product_item-wrapper-curency {
                    font-size: 1.5m;
                }

                .product_item-wrapper-rating {
                    cursor: pointer;

                    .product_item-wrapper-star {}

                    .product_item-wrapper-star.product_item-wrapper-star--yellow {
                        color: $star-yellow;
                    }
                }
            }
            p {
                text-align: justify;
                font-size: 1.6em;
                line-height: 1.6;
                margin-top: 10px;
                color: $text-color;
            }
        }
    }
}

.project {
    .project-img {
        height: 300px;
        >img{
            object-fit: contain;
        }
    }

    .project-container {
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-title {
        font-size: 4em;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        >a {
            text-decoration: none;
            color: $black-color;

            &:hover {
                @include textHover($black-color)
            }
        }
    }

    .project-content {
        text-align: justify;
        padding-top: 20px;
        font-size: 2em;
        color: $text-color;
        font-weight: 300;
    }

    .btn-seemore {
        bottom: 0;
        right: 0;
    }
}

.project-outstanding {
    .project-outstanding_background{
        background-image: url('./img/background-light.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: unset;
    }
    .project-outstanding_wrapper-title {
        color: $white-color;
        position: relative;
        font-size: 3em;
        text-align: center;
        padding: 20px;
        font-weight: 600;
        text-transform: uppercase;

        >span {
            color: $primari-color;
        }
    }

    .project-outstanding_inner {
        .project-outstanding_content {
            background-color: #26222285;

            h4 {
                >span {
                    text-transform: uppercase;
                    font-size: 1.6em;
                    color: $primari-color;
                }

                color: white;
                font-size: 1.6em;
                text-align: center;
                padding: 10px;
                cursor: pointer;

                &:hover {
                    >span {
                        @include textHover($white-color)
                    }
                }
            }

            p {
                color: $white-color;
                font-size: 1.6em;
                padding: 0 20px;
                height: 105px;
                overflow: hidden;
                display: block;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 6;
                text-align: justify;
                @include responsive(phone) {
                    height: 140px;
                }
            }
        }
        .project-outstanding_item{
            height: 400px;

            @include responsive(phone) {
                height: 200px;
            }
            >img{
                object-fit: cover;
            }
        }
    }
}

.entry-header {
    .entry-title {
        position: relative;
        overflow: hidden;
        padding-top: 12px;
        border-bottom: 1px solid $boder-color;

        >a {
            text-decoration: none;
            color: black;
            font-size: 2em;
            text-transform: uppercase;
        }
    }
}

@include responsive(phone) {
    .product_item-wrapper {
        .product_item-wrapper-title {
            >a {
                display: block;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                height: 26px;
                overflow: hidden;
            }
        }
        p {
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            height: 100px;
        }
    }
}
