.footer-container{

        min-height: 400px;
        background-color: $white-color;
    

    .footer-left{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .footer_slogan {
            >span{
                color: $primari-color;
                font-weight: 800;
            }
            font-size: 1.6em;
            line-height: 1.6;
            text-align: center;
        }
        .footer_logo{
            >a{
                text-decoration: none;
            }
            .footer_logo-img{
                width: 249px; // cần chỉnh lại k fix cứng
                height: 150px; // cần chỉnh lại k fix cứng
            }
        }
        
        .footer_content-text{
            .foorter-contact{
            }
            .footer-info{

            }
        }
    }
    .footer-right{
        .register{
            >label{
                color: $text-color;
        }
        .register_input{
            height: 30px;
            margin-top: 10px;
            border-radius: 10px;
            border-color:$boder-color ;
        }
        .register_input-btn{
            height: 30px;
            width: 80px;
            border-radius: 10px;
            background-color: $primari-color;
            @include backgroundText1($primari-color);
            border-color: $boder-color;
            &:hover{
                cursor: pointer;
                transition: background-color 0.3s;
                background-color: rgb(126, 182, 182);
            }

            
        }
    }
        .footer_content-text{ 
            list-style-type: none;
            >li{
                text-transform: uppercase;
                align-items: center;
                padding: 10px 0;
                color: $text-color;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .foorter-contact{
            display: flex;
            >p{
                padding: 0 20px;
                text-align: left;
                color: $text-color;
            }
            >i{
                font-size: 1.3em;
            }
        }
        .footer_content{
         
            font-size: 1.6em;
            line-height: 1.6;
          
            
            .footer_content-title{
                text-transform: uppercase;
                font-weight: 600;
                padding: 20px 0;
                color: $black-color;

            }
        }
    }
}
.footer-secondary{
    height: 80px;
    background-color: #3b3939;
    display: flex;
    justify-content: center;
    align-items: end;
    >P{
        padding: 10px;
        font-size: 1.3em;
        color: $text-color;

    }
}