@mixin backgroundText1 ($backgroundcolor) {
  background-color: $backgroundcolor;

  @if ($backgroundcolor ==$primari-color) {
    >a {
      color: $uppcase-color
    }

    color: $white-color;
    @content;
  }

  @if ($backgroundcolor ==$white-color) {
    color: $text-color;
    @content
  }
}

;

@mixin textHover ($textColor) {
  color: $textColor ;

  @if($textColor ==$black-color, $textColor ==$white-color) {
    color: $primari-color;
  }

  @if($textColor ==$primari-color) {
    color: $uppcase-color;
  }

  animation: opacity 0.3s linear
}

@mixin textTitle () {
  font-size: 4em;
  font-weight: 600;
  line-height: 1.2em;
}

@mixin textTitleh2 () {
  font-size: 2em;
  line-height: 1.4em;
  text-transform: uppercase;
}