.header-top {

    height: 36px;
    border-bottom: 1px solid $boder-color;
    display: flex;
    align-items: center;
    font-weight: 400;

    .header-top_tell {
        color: $text-color;
        font-size: 1.6em;
        text-decoration: none;
        margin-left: 8px;
    }

    a:hover {
        opacity: 0.5;
        color: rgb(89, 86, 86)
    }
}

;

.header-top-left {
    margin-right: 8px;
    font-size: 1.5em;
    list-style-type: none;
    display: flex;
    color: $text-color;
    margin-left: auto;

    >ul {
        position: relative;
        display: flex;
        list-style-type: none;
        font-size: 1em;

        li {
            margin-left: 36px;
            cursor: pointer;

            a {
                color: $text-color;
                text-decoration: none;
            }

            &.header-top-left_language {


                @include responsive(phone) {
                    background-color: blue;
                }
            }

            &.header-top-left_login {
                .header-top-left_items-icon {
                    margin: 0 4px;
                    font-size: 1.2em;
                }

                @include responsive(phone) {
                    background-color: blueviolet;
                }
            }
        }

        .separation::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 17px;
            background-color: #ccc;
            right: 67%;
            top: 3%;
            display: block;

        }
    }

    .header-top-left_language {
        ul {
            display: none;
            flex-direction: column;
            min-width: 220px;
            // min-height: 120px;
            border: 1px solid $boder-color;
        }
    }
}

//header

.site-header{
    height: $headerHeight;
    border-bottom: 1px solid $primari-color;
    .site-header_container{
        height: inherit;
    }
    .site-header-right{
        height: inherit;
        .site-header-right_logo{
            

            .site-header-right_logo-img{
               


            }
        }
    }

    .main-navigation{
        height: inherit;
        .main-nav-icon{

            display: none;
        }

        .menu-header-container{
            height: inherit;
            .nav-menu{
                height: inherit;
                display: flex;
                align-items: center;
                justify-content: space-around;
                list-style-type: none;
                .menu-item{
                    position: relative;
                    height: inherit;
                    line-height: $headerHeight;

                    >a{
                        text-decoration: none;
                        color: $black-color;
                        font-size: 1.6em;
                        
                    }
                    ;

                    .sub-menu{
                        position: absolute;
                        background-color: rgb(239, 235, 228);
                        min-width: 250px;
                        padding: 0;
                        margin: 0;
                        line-height: 10px;
                        list-style-type: none;
                        right: 0;
                        padding:0 30px;
                        
                        .sub-menu-item{
                            padding: 30px 0;
                            >a {
                                text-decoration: none;
                                color: $black-color;
                                font-size: 1.6em;

                            }
                        }
                    }
                }
            }
        }
    }
}


.form-group {
    display: none;
    
}




@keyframes opacity {
    from {

        opacity: .3;
      
    }

    to {

        opacity: 1;
   

    }
}

@keyframes changeColor {
    from {

        color: black;
    }

    to {
        color: $primari-color;
    }
}

@keyframes grow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide {
    from {
        opacity: 0.5;
        transform: translateX(-344%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slider2 {
    from{
        opacity: 0.5;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@include responsive(phone) {
    .site-title {
        background-color: blue;
    }
}



