.single {
    .post {
        header {
            h1 {
                text-transform: uppercase;
                font-size: 3em;
                text-align: center;
                color: $primari-color;

            }

            div {
                text-align: center;

                span {
                    margin: 0 2px;
                    display: inline-block;
                    font-size: 1.2em;
                    text-decoration: none;
                    color: $text-color;

                    span {
                        a {
                            text-decoration: none;
                            color: $text-color;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $text-color;
                    }
                }
            }
        }

        .post-thumbnail {
            margin-top: 50px;
        }

        img {
            object-fit: cover;
            height: 300px;
        }

        .entry-content {
            blockquote {
                border-left: 2px solid black;
                margin: 20px 0;

                p {
                    margin-left: 20px;
                    font-size: 1.6em;
                    line-height: 1.6;
                    color: $text-color;
                    text-align: justify;
                }
            }

            h2 {
                font-size: 2em;
                text-transform: uppercase;
                margin: 20px 0;
            }

            p {
                font-size: 1.6em;
                line-height: 1.6;
                text-align: justify;
                color: $text-color;
                margin-bottom: 5px;
                margin-top: 10px;
                margin-left: 20px;

                a {
                    text-decoration: none;
                    color: $primari-color;
                }
            }

            ul {
                margin-left: 50px;

                li {

                    font-size: 1.6em;
                    line-height: 1.6;

                    h4 {
                        font-weight: 400;
                        color: $text-color;

                    }

                    figure {
                        width: 60% !important;
                        @include responsive(phone) {
                            width: 100% !important;
                        }
                        figcaption {
                            text-align: center;
                            font-size: 0.9em;
                            padding-bottom: 5px;
                            font-style: italic;
                            font-weight: 600;
                        }
                    }
                }

            }

            figure {
                margin-top: 50px;
                margin-left: auto;
                margin-right: auto;
                background-color: #85d3d373;
                display: block;
                width: 60% !important;
                @include responsive(phone) {
                    width: 100% !important;
                }

                figcaption {
                    text-align: center;
                    font-size: 1.3em;
                    padding: 10px;
                    font-style: italic;
                    font-weight: 600;
                    a{
                        text-decoration: none;
                        color: rgb(209, 42, 42);
                    }
                }
            }
        }
        footer{
            text-align: end;
            color: $text-color;
            a{

            }
        }

    }
    .proceduce {
        .proceduce_title {
            text-align: center;

            p {
                padding: 20px;
                font-size: 3em;
                text-transform: uppercase;
                font-weight: 600;
            }

            span {
                font-size: 2em;
                display: block;
                margin-bottom: 20px;
                color: $text-color;
            }
        }


    }
    .proceduce_container {
        .proceduce_item {
            .proceduce_item-img {
                height: 250px;
                margin: 20px;

                img {
                    object-fit: contain;
                }
            }

            .proceduce_item-content {
                p {
                    padding: 20px 0 10px 0;
                    text-align: center;
                    font-size: 2em;
                    text-transform: uppercase;
                    font-weight: 600;
                }

                span {
                    font-size: 1.6em;
                    line-height: 1.6;
                    color: gray;
                    text-align: justify;
                    display: block;
                    text-align: justify;

                    a {
                        text-decoration: none;
                        color: $primari-color;
                        font-size: 1.5em;
                        font-weight: 600;
                    }
                }

            }
        }
    }
}