@use "sass:string";
$pc: 1024px; // PC screen size.
$tablet: 720px; // Tablet screen size.
$phone: 320px; // Phone screen size.

@mixin responsive($media) {
    @if $media ==phone {
        @media only screen and (max-width: $tablet - 1) {
            @content;
        }
    }

    @else if $media ==tablet {
        @media only screen and (min-width: $tablet - 1) and (max-width: $pc) {
            @content;
        }
    }

    @else if $media ==pc {
        @media only screen and (min-width: $pc + 1) and (min-width: $pc) {
            @content;
        }
    }

    @else if $media ==pc_tablet {
        @media only screen and (min-width: $tablet - 1) {
            @content;
        }
    }
}

@include responsive(pc) {
    .header {
        .site-header {
            .main-navigation {

                .menu-header-container {
                    .nav-menu {
                        .menu-item {
                            &:hover {
                                    >a {
                                        @include textHover($black-color);
                                    }

                                    .sub-menu {
                                        display: block;
                                        animation: scale 0.6s ease;
                                        transform-origin: center top;
                                    }
                                }
                        }
                    }
                }
            }
        }
    }


    .scroll-menu {
        .main-header {
            position: fixed;
            top: 0px !important;
            z-index: 1;
            background-color: #fff;
            right: 0;
            left: 0;
            transition: top 1s;
            border-bottom: 1px solid $boder-color;
            z-index: 3;
            box-shadow: 1px 1px 2px #fff0f0;
        }

        .site-main {
            margin-top: 100px;
        }
    }

    .l-2 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-10 {
        flex: 0 0 83.3333%;
        max-width: 83.333%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@include responsive(tablet) {
    .m-2 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-10 {
        flex: 0 0 83.3333%;
        max-width: 83.333%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide {
        width: 644px;
    }

    .header {
        .site-header{
            .site-header-right{
                .site-header-right_logo{
                    display: none;
                }
            }
        }
        .header-top {
            .site-header_logo-mobile{
                display: block;
                >img{
                    height: 30px;
                }
            }
            position: fixed;
            background-color: $white-color;
            z-index: 50;
            top: 0;
            justify-content: space-between;
            width: 100%;

            .btn-menu {
                .btn-menu_icon {
                    font-size: 2em;
                    color: #848484;
                    padding: 20px;
                }
            }
        }

        .header-top-left {
            display: none;

        }

        .btn-menu {
            display: block;
        }

        .site-header {

            min-height: auto;

            .main-navigation {
                position: fixed;
                right: 0;
                bottom: 0;
                top: 35px;
                z-index: 100;
                background: $white-color;
                transform: translateX(calc(100% + 1px));
                transition: transform 1s;
                background: $mobile-menu-color;

                .menu-header-container {
                    .nav-menu {
                        display: block;

                        .menu-item {
                            line-height: 50px;
                            border-bottom: 1px solid #616161;
                            width: 100%;
                            >a {
                                color: $white-color;
                                font-weight: 400;
                            }
                            >i{
                                color: #fff;
                            }

                            .sub-menu {
                                .menu-item {
                                    padding: 0;
                                    border: none;

                                    >a {
                                        color: $white-color;
                                        text-transform: none;
                                        margin-left: 20px;
                                    }

                                }
                            }
                        }
                    }
                }
            }

            .site-header-right {
                margin: auto;

                .site-header-right_logo {
                    margin-top: 40px;
                }
            }

            .site-header_container {
                display: block;
            }
        }
    }
    .product_item-wrapper-title {
        >a {
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            height: 20px;
            overflow: hidden;
        }
    }

    .project {
        .btn-seemore {
            position: unset;
            width: 100%;
        }
    }

    .service-item {
        margin: 10px 0;
    }
    .project-outstanding {
        .project-outstanding_inner {
            .project-outstanding_content {
                .project-outstanding_text{
                    height: 150px;
                }
            }
        }
    }
    .btn-menu--acctive {
        .header {
            .site-header {
                .main-navigation {
                    .menu-header-container {
                        .nav-menu{
                            .menu-item {
                                .sub-menu{
                                    position: unset;
                                    line-height: unset;
                                    background-color: #38383800;
                                    position: unset;
                                    line-height: unset;
                                    box-shadow: none;
                                }
                                .show{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
        .menu-header-container-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #35353538;
            z-index: 1;
            opacity: 1;
            transition: opacity 0.3s
        }
        .show{
            display: block;
        }
        .site-header {
            .main-navigation {
                transform: translateX(0);
            }
        }
    }
}

@include responsive(phone) {
    .grid {
        padding: 6px 12px;
    }
    .no-gutter{
        padding-left: 0;
        padding-right: 0;
    }

    .row {
        margin: -6px -12px;
    }

    .col {
        padding: 6px 12px;
    }

    .s-2 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }

    .s-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .s-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .s-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .s-10 {
        flex: 0 0 83.3333%;
        max-width: 83.333%;
    }

    .s-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .header {
        .site-header{
            .site-header-right{
                .site-header-right_logo{
                    display: none;
                }
            }
        }
        .header-top {
            position: fixed;
            background-color: $white-color;
            z-index: 50;
            top: 0;
            justify-content: space-between;
            .site-header_logo-mobile{
                display: block;
                >img{
                    height: 30px;
                }
            }
            .btn-menu {
                .btn-menu_icon {
                    font-size: 2em;
                    color: #848484;
                    padding: 20px 0 20px 20px
                }
            }

        }


        .header-top-left {
            display: none;

        }

        .btn-menu {
            display: block;
        }

        .site-header {
            min-height: auto;

            .main-navigation {
                overflow: auto;
                position: fixed;
                right: 0;
                bottom: 0;
                top: 35px;
                z-index: 100;
                background: $white-color;
                transform: translateX(calc(100% + 1px));
                transition: transform 1s;
                background: $mobile-menu-color;

                .menu-header-container {
                    .nav-menu {
                        .menu-item {
                            line-height: 50px;
                            border-bottom: 1px solid #616161;
                            width: 100%;

                            >a {
                                color: $white-color;
                                font-weight: 400;
                            }
                            >i{
                                color: #fff;
                            }

                            .sub-menu {
                                list-style-type: none;
                                display: none;
                                border-radius: 3px;
                                position: unset;
                                background: #3c3c3c00;
                                line-height: unset;
                                box-shadow: none;

                                .menu-item {
                                    padding: 0;
                                    border: none;

                                    &:hover {
                                        background-color: unset;
                                    }

                                    >a {
                                        color: $white-color;
                                        text-transform: none;
                                        margin-left: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .site-header-right {
                margin: auto;

                .site-header-right_logo {
                    margin-top: 40px;
                }
            }

            .site-header_container {
                display: block;
            }
        }
    }

    .product_item-wrapper-title {
        >a {
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            height: 20px;
            overflow: hidden;
        }
    }

    .project {
        .btn-seemore {
            position: unset;
            width: 100%;
        }
    }

    .btn-menu--acctive {
        .menu-header-container-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #35353538;
            z-index: 1;
            opacity: 1;
            transition: opacity 0.3s
        }

        .site-header {
            .main-navigation {
                transform: translateX(0);
            }
        }
    }

    .slider_full-slick {
        .slider_full-slick-container {
            display: flex;

            .slider_full-slick-img {
                overflow: hidden;
                height: auto;
            }

            .slider_full-slick-content {
                display: none;
            }
        }

    }
}

@include responsive(phone) {
    .header {
        .site-header {
            .site-header_container {
                flex-direction: column;
            }

            .main-navigation {
                .main-nav_icon-list {}

                .btn-menu {}

                .menu-header-container {
                    .menu-header-container-overlay {}

                    .nav-menu {
                        flex-direction: column;
                        align-items: flex-start;

                        .menu-item {
                            line-height: 50px;
                        }
                    }
                }
            }

        }
    }
}