// Slick
.slider_full-slick {
    .slider_full-slick-img {
        >img {
            width: 100%;
        }
    }
    .slick-next:before,
    .slick-prev:before{
        color: $primari-color;
        font-size: 40px;
        opacity: 0.5;
    }
    .slick-next{
        right: -4px
    }

    .slider_full-slick-container {
        display: flex;

        .slider_full-slick-img {
            height: 500px;
            flex: 2;
            overflow: hidden;
        }

        .slider_full-slick-content {
            background-color: #dad0d0cc;
            flex: 1;

            .slider_full-slick-content-wrapper {
                height: 92%;
                background: #dad0d0cc;
                border: 2px solid $white-color;
                margin: 20px;

                .slider_content-title {
                    $space: 40px;
                    text-align: center;
                    padding: $space;
                    text-transform: uppercase;
                    color: $primari-color;
                    font-size: 3em;
                    font-weight: 600;
                    text-shadow: 2px 0px 9px #b7a2a2;
                    margin-top: calc($space*2);
                    transform: translateY(-60px);
                    opacity: 0;
                }

                .slider_content-text {
                    padding: 0px 20px;
                    font-size: 1.3em;
                    text-align: justify;

                    >p {
                        text-align: center;
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
    &.acctive {
        .slider_full-slick-container {
            .slider_full-slick-content {
                .slider_full-slick-content-wrapper {
                    .slider_content-title {
                        opacity: 1;
                        transform: translateY(0);
                        transition: opacity 1s, transform 2s;
                    }
                }
            }
        }
    }
}
@include responsive(phone) {
    .slider_full-slick {
        margin-top: calc(($headerHeight/2) - 10px);
        .slider_full-slick-container {
            display: flex;

            .slider_full-slick-img {
                overflow: hidden;
                height: auto;

                img {
                    height: 200px;
                    object-fit: cover;
                }
            }

            .slider_full-slick-content {
                display: none;
            }
        }

    }
}
