$primari-color: #FF6922;
$uppcase-color: #004AAD;
$text-color: #9b9b9b;
$border-radius: 2px;
$boder-color: #ebebeb;
$font-weight: 400;
$second-color: rgb(230, 225, 225);
$white-color: #fff;
$black-color: black;
$second-backgroundcolor: #f8f8f8;
$headerHeight: 100px;
$star-yellow: rgb(242, 209, 45);
$red-color: red;
$btn-hover: #e76c00;
$mobile-menu-color: #2f2f2feb;